<div class="profile-container">
  <div class="profile-header">
    <h1>Profil utilisateur</h1>
  </div>

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="profile-form">
    <div class="form-field">
      <input
        id="username"
        formControlName="username"
        placeholder="Username"
        required>
    </div>

    <div class="form-field">
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="email@email.fr"
        required>
    </div>

    <div class="form-field">
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Mot de passe">
    </div>

    <button
      type="submit"
      [disabled]="profileForm.invalid"
      class="save-button">
      {{ 'Sauvegarder' }}
    </button>
  </form>

  <div class="subscriptions-section">
    <h2 class="subscriptions-title">Abonnements</h2>

    <div *ngIf="userSubscriptions.length === 0" class="no-subscriptions">
      P&s d'abonnements.
    </div>

    <div class="subscriptions-grid" *ngIf="userSubscriptions.length > 0">
      <div *ngFor="let theme of userSubscriptions" class="subscription-card">
        <div class="subscription-content">
          <h3 class="subscription-title">{{ theme.name }}</h3>
          <p class="subscription-description">{{ theme.description || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non lectus mauris nec imperdiet lorem tempor. Nullam commodo et urna vel pulvinar. Nullam in orci venenatis ex elit et ex.'  }}</p>
        </div>
        <div class="subscription-actions">
          <button
            class="unsubscribe-btn"
            (click)="unsubscribeFromTheme(theme)">
            Se désabonner
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
