.app-toolbar, .auth-toolbar {
  background-color: white;
  border-bottom: 1px solid black;
}

.toolbar-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;

  .toolbar-logo {
    height: 60px;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-links {
  display: flex;
  align-items: center;
  gap: 8px;

  button.active {
    color: var(--primary-color);
  }

  .logout-btn {
    color: var(--warn-color);
    font-weight: 400;
  }

  .profile-btn {
    margin-left: 8px;

    .mat-icon {
      font-size: 24px;
      height: 24px;
      width: 24px;
      color: #e0e0e0;
    }
  }
}

.content-with-toolbar {
  margin-top: 64px;
  min-height: calc(100vh - 64px);
}

.content-full {
  min-height: 100vh;
}

// Responsive
@media (max-width: 599px) {
  .content-with-toolbar {
    margin-top: 56px;
    min-height: calc(100vh - 56px);
  }
}
