<mat-toolbar *ngIf="isLoggedIn" class="app-toolbar">
  <div class="toolbar-container">
    <div class="logo-container">
      <a routerLink="/">
        <img src="/assets/logo_p6.png" alt="MDD Logo" class="toolbar-logo" />
      </a>
    </div>

    <div class="toolbar-spacer"></div>

    <div class="toolbar-links">
      <button mat-button (click)="logout()" class="logout-btn">
        Se déconnecter
      </button>
      <button mat-button routerLink="/posts" routerLinkActive="active">
        Articles
      </button>
      <button mat-button routerLink="/themes" routerLinkActive="active">
        Thèmes
      </button>
      <button
        mat-icon-button
        routerLink="/profile"
        class="profile-btn"
        aria-label="Ouvrir le profil"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<!-- Navbar simplifiée pour les pages d'authentification -->
<mat-toolbar *ngIf="isAuthPage" class="auth-toolbar">
  <div class="toolbar-container">
    <div class="logo-container">
      <a routerLink="/">
        <img src="/assets/logo_p6.png" alt="MDD Logo" class="toolbar-logo" />
      </a>
    </div>
    <div class="toolbar-spacer"></div>
  </div>
</mat-toolbar>

<div
  [ngClass]="{
    'content-with-toolbar': isLoggedIn || isAuthPage,
    'content-full': !isLoggedIn && !isAuthPage
  }"
>
  <router-outlet></router-outlet>
</div>
