/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --primary-color: #673AB7;
  --accent-color: #FFC107;
  --warn-color: #f44336;
  --text-color: #333333;
  --background-color: #FFFFFF;
}
