.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center;
  padding: 1rem;
  
  .logo {
    width: 120px;
    margin-bottom: 2rem;
  }
  
  .auth-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
    @media (max-width: 599px) {
      flex-direction: column;
    }
    
    button {
      min-width: 120px;
      min-height: 36px;
      border-radius: 18px;
      background-color: white;
      border: 1px solid #673AB7;
      color: #673AB7;
      
      &:first-child {
        background-color: white;
      }
      
      &:last-child {
        background-color: white;
      }
    }
  }
}

// Styles pour les écrans plus grands
@media (min-width: 600px) {
  .center {
    .logo {
      width: 150px;
    }
    
    .auth-buttons {
      button {
        min-width: 150px;
      }
    }
  }
}
